@model MDS_PROJECT.Controllers.HomeController.SearchViewModel

<!-- Începutul HTML-ului -->

<form asp-controller="Home" asp-action="SearchBoth" method="post">
    <input type="text" name="query" placeholder="Caută un produs...">
    <button type="submit">Caută</button>
</form>


<div style="display: flex; justify-content: space-between;">
    <div style="width: 45%;">
        <h2>Carrefour</h2>
        @if (Model.CarrefourResults.Any())
        {
            <ul>
                @foreach (var item in Model.CarrefourResults)
                {
                    <li>@item.ItemName, @item.Quantity @item.MeasureQuantity, @item.Price Lei</li>
                }
            </ul>
        }
        else
        {
            <p>Nu s-au găsit rezultate.</p>
        }
    </div>
    <div style="width: 45%;">
        <h2>Kaufland</h2>
        @if (Model.KauflandResults.Any())
        {
            <ul>
                @foreach (var item in Model.KauflandResults)
                {
                    <li>@item.ItemName, @item.Quantity @item.MeasureQuantity, @item.Price Lei</li>
                }
            </ul>
        }
        else
        {
            <p>Nu s-au găsit rezultate.</p>
        }
    </div>

</div>
